[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ipsfs"]
	path = ipsfs
	url = https://github.com/pandaramaranjan/ipsfs
	shallow = true
	registered = true
